body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    color: #005a9c;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 170%;
}
h2 {
    font-size: 140%;
}
h3 {
    font-size: 120%;
}
h4 {
    font-size: 100%;
    font-weight: bold;
}
